<!DOCTYPE html>
<html lang="pt-br">
  <head>
  	
    <title>Título da página</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div> 
    <button id="sessionIdSand">sessionId</button>
    <p>Session ID: <span class="result"> </span></p>
    </div>
     <div>
      <button id="validar">Gerar Token Cartão</button>
      <p>Token Cartão:<span class="token">  </span></p>
    </div>
    <div>
      <button id="lightboxSand">Checkout lightbox</button>
    </div>
    <div>
        <button id="checkoutSand">Checkout Redirecionamento</button>
      </div>
  </body>
  <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
  <script type="text/javascript" src="./assets/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="./assets/main.js"></script>
</html>